.sn_bazaarvoice-rating-widget-container {
  clear: both;
  height: 18px;
}

.sn_bazaarvoice-rating-widget-container .sn_bazaarvoice-rating-widget .sn_bazaarvoice-rating-label {
  font-size: 0.95em;
}

.sn_bazaarvoice-rating-widget-container .sn_bazaarvoice-rating-widget .sn_bazaarvoice-rating {
  overflow: hidden;
  height: 18px;
  min-width: 84px;
  float: left;
  z-index: 0;
  background: url(../images/rating.png) no-repeat 0 55%;
}

.sn_bazaarvoice-rating-widget-container .sn_bazaarvoice-rating-widget .sn_bazaarvoice-rating-overlap {
  background: url(../images/rating.png) no-repeat;
  height: 17px;
  min-width: 84px;
  position: absolute;
  display: none;
}

.ratingAverage {
  background-color: #f62929;
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  z-index: 2;
}

.ratingColor {
  background-color: #f4c239;
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  z-index: 2;
}

.jStar {
  left: 0;
  position: relative;
  z-index: 3;
}

p.ratingInfos {
  background: url("icons/bg_ratingInfos.png") no-repeat scroll 0 0    transparent;
  color: #fff;
  display: none;
  font-size: 16px;
  height: 29px;
  padding-top: 5px;
  position: absolute;
  text-align: center;
  width: 91px;
  z-index: 9999;
}

p.ratingInfos span.maxRate {
  color: #c9c9c9;
  font-size: 14px;
}

/** Review Box **/
.review-item {
  float: left;
  clear: both;
  border: 2px solid #c0c0c0;
  padding: 10px;
  margin-bottom: 10px;
}

.review-item .left,
.review-item .right {
  float: left;
}

.review-item .left {
  width: 30%;
}

.review-item .right {
  width: 67%;
  margin-left: 2%;
}

.review-item .right h2 {
  margin-top: 0;
}

.review-item .left .author {
  font-size: 0.85em;
  font-weight: bold;
  padding: 10px 0 0px;
}

.review-item .left .submitted {
  font-size: 0.85em;
}
